<div *ngIf="currentDish" class="dish-container">
  <div class="dish-title">{{ currentDish.title }}</div>
  <div class="dish-wrapper">
    <div class="img-wrapper">
      <img
        src="{{ currentDish.img }}"
        class="dish-img"
        (dblclick)="addToFavourite()"
      />
      <div class="heart-icon-wrapper" *ngIf="isHeartShow">
        <mat-icon class="heart-icon"> favorite</mat-icon>
      </div>
    </div>
    <div class="dish-info">
      <mat-icon
        *ngIf="!isInFavourite"
        class="favourite-icon"
        (click)="addToFavourite()"
      >
        favorite_border</mat-icon
      >
      <mat-icon
        *ngIf="isInFavourite"
        class="favourite-icon"
        (click)="addToFavourite()"
        style="color: red"
        >favorite</mat-icon
      >
      <mat-icon *ngIf="isEditDishAllow" class="edit-icon" [routerLink]="'./edit'">edit</mat-icon>
      <mat-icon  *ngIf="isEditDishAllow" class="delete-icon" (click)="onDeleteDish()">delete_outline</mat-icon>
      <p [routerLink]="['/restaurant', currentDish.restaurant]">
        <span>Restaurant: </span>
        <span class="restaurant">@{{ currentDish.restaurant }}</span>
      </p>
      <div class="rating">
        <span>Rating: </span>
        <ngx-stars
          class="stars"
          [readonly]="true"
          [size]="1"
          [color]="'#000000'"
          [maxStars]="5"
          [initialStars]="currentDish.rating"
          [animation]="false"
          [animationSpeed]="500"
        ></ngx-stars>
      </div>
      <p>
        <span>Price: </span>{{ currentDish.price }} {{ currentDish.currency }}
      </p>
      <p><span>Address: </span>{{ currentDish.location }}</p>
      <p class="ingredients"><span>Ingredients: </span>{{ currentDish.ingredients }}</p>
      <p class="description"><span>Description: </span>{{ currentDish.description }}</p>
      <div class="user-info">
        <span class="postedBy">Posted by: </span>
        <div class="user-info-wrapper" [routerLink]="['/users', currentDish.postedBy]">
          <img
            src={{currentDish.postedByImg}}
            class="ava"
          />
          <span>@{{ currentDish.postedBy }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="dish-comment-wrapper">
    <div class="" *ngIf="isFormVisible">
      <p class="comment-title">
        Did you taste this dish? Leave your comment here:
      </p>
      <form
        [formGroup]="commentForm"
        (ngSubmit)="onCommentSubmit(currentDish.title, currentDish.comments)"
      >
        <ngx-stars
          class="stars"
          [readonly]="false"
          [size]="2"
          [color]="'#000000'"
          [maxStars]="5"
          (ratingOutput)="onRatingSet($event)"
          [initialStars]="currentDish.rating"
          [animation]="true"
          [animationSpeed]="500"
        ></ngx-stars>
        <div class="comment-input">
          <textarea
            rows="6"
            class="textarea"
            formControlName="comment"
          ></textarea>
          <button type="submit" class="btn">
            {{ editMode ? "Edit" : "Publish" }}
          </button>
        </div>
      </form>
    </div>
    <div
      class="border"
      *ngIf="currentDish.comments && currentDish.comments.length"
    >
    <div class="sorters">
      <span class="sort-title"> Sort by:</span>
      <span class="sort-btn" (click)="sortByRating()"><mat-icon>star_half</mat-icon></span>
      <span class="sort-btn" (click)="sortByDate()"><mat-icon>date_range</mat-icon></span>
    </div>
      <div *ngFor="let comment of currentDish.comments; let i = index">
        <app-comment-box
          [comment]="comment"
          (onEdit)="editComment()"
          (onDelete)="deleteComment(i)"
        ></app-comment-box>
      </div>
    </div>
  </div>
</div>
