.dish-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .dish-title {
    font-size: 1.9em;
    font-weight: 600;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 20px auto;
  }

  .dish-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    .img-wrapper {
      width: 50%;
      position: relative;
      height: fit-content;

      .dish-img {
        width: 100%;
        border-radius: 5px;
        max-height: 400px;
      }

      .heart-icon-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 98%;
        background-color: rgba(83, 83, 83, 0.438);
        border-radius: 5px;
        color: red;

        .heart-icon {
          padding-top: 80px;
          margin-left: -80px;
        }
      }

      .material-icons {
        font-size: 120px;
      }
    }

    .dish-info {
      display: flex;
      width: 40%;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      position: relative;

      .favourite-icon {
        position: absolute;
        top: 0;
        right: 0;
      }

      .mat-icon {
        height: 40px;
        width: 40px;
      }

      .material-icons {
        font-size: 40px !important;
        cursor: pointer;
      }

      span {
        font-family: "Pacifico", cursive;
        font-size: 1.1em;
      }

      p {
        text-align: start;
      }

      .restaurant {
        font-size: 1.5em;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        margin-left: 15px;
        font-weight: 500;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
      .rating {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .stars {
          margin: 5px 0 0 10px;
        }
      }

      .user-info {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        // justify-content: space-between;
        width: 80%;
        .user-info-wrapper {
          display: flex;
          flex-direction: row;
          margin-left: 25px;

          .ava {
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }

          p {
            display: flex;
            align-items: center;
            margin-top: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  .dish-comment-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;

    .comment-title {
      margin-top: 20px;
      font-size: 1.5em;
      font-family: "Pacifico", cursive;
      text-align: start;
    }

    .comment-input {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;

      .textarea {
        border-radius: 5px;
        -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        width: 80%;
      }

      .btn {
        height: 50px;
        width: 150px;
        text-align: center;
        font-size: 1.3em;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        margin-left: 10px;
        border-radius: 5px;
        background: #424242;
        color: #fff;
        padding: 15px;
        -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        cursor: pointer;
        border: none;

        &:hover {
          background: #c7c2c2;
          color: black;
          font-weight: 500;
        }
      }
    }
  }

  .border {
    border-top: 2px solid gray;
  }
}
