.navigation-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 15px 0 0 0;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  position: sticky;
  top: -2px;
  z-index: 2000;
  background-color: white;

  .logo-title {
    font-family: "Pacifico", cursive;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }

  .active{
    display: flex;
  }

  .inactive{
    display: none;
  }

  .search-form {
    cursor: pointer;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 15px;
    padding-bottom: 0.6em;

    .icon {
      width: 45px;
      position: relative;

      &.active-link{
        color: #666666;
      }

      .mat-icon {
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        font-size: 34px !important;
        cursor: pointer;
      }

      .material-icons {
        font-family: "Material Icons";
        font-size: 34px;
      }

      .avatar {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        // border: 1px solid gray;
        cursor: pointer;
      }
    }

    .user-menu {
      position: absolute;
      width: 120px;
      top: 37px;
      left:-74px;

      .container {
        color: white;
        background-color: #424242;
        border-radius: 5px;
        -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74) !important;

        .wrapper{
          padding: 5px 10px 2px 10px;

          p{
            cursor: pointer;
  
            &:hover{
              font-size: 1.1em;
            }
          }

        }

        
      }
    }
  }
}
