.card-wrapper {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .restaurant-title {
    font-size: 1.8em;
    font-family: "Pacifico", cursive;
    margin: 15px auto;
    cursor: pointer;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .mat-card {
      width: 45%;
      margin: 15px auto;
      -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
      box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74) !important;

      .img-wrapper {
        width: 350px;
        height: 250px;
        margin: 0 auto;
        border-radius: 5px;

        .img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          cursor: pointer;
          object-fit: cover;
        }
      }
    }
  }
}
