<div *ngIf="restaurantInfo">
  <div class="title">{{ title }}</div>
  <div class="info-container">
    <div class="info-wrapper">
      <p class="content-title">
        <span>Address: </span>{{ restaurantInfo.address }}
      </p>
      <p class="content-title">
        <span>Average dishes raiting: </span
        ><ngx-stars
          [readonly]="true"
          [size]="1"
          [color]="'#000'"
          [maxStars]="5"
          [initialStars]="restaurantInfo.rating"
          [wholeStars]="false"
          [animation]="false"
          [animationSpeed]="200"
        ></ngx-stars>
      </p>
      <p
        class="content-title"
        style="cursor: pointer"
        [routerLink]="['/restaurant', restaurantInfo.restaurant]"
      >
        <span>Number of posted dishes: </span>{{ restaurantInfo.dishes }}
      </p>
    </div>

    <div class="googlemap-wrapper">
      <div class="iframe-container">
        <google-map
          height="350px"
          width="500px"
          [zoom]="zoom"
          [center]="center"
          [options]="options"
        ></google-map>
      </div>
    </div>
  </div>
</div>
