<div class="all-users-container">
  <div class="left">
    <div *ngFor="let user of users; let i = index" class="user-box">
      <div
        class="img-wrapper"
        (mouseover)="onMouseOver(i)"
        (mouseleave)="onMouseOut()"
      >
        <img src="{{ user.userImg }}" class="img" />
        <div
          class="eye-wrapper"
          *ngIf="selectedItem === i"
          (click)="onImgClick(user.username)"
          [routerLink]="['/users', user.username]"
        >
          <mat-icon class="eye">visibility</mat-icon>
        </div>
      </div>
      <span
        class="nickname"
        (click)="onClick(user.username, i)"
        [ngClass]="activeTab === i ? 'active' : null"
      >
        @ {{ user.username }}
      </span>
    </div>
  </div>

  <div class="right">
    <div class="title">Chat</div>
    <div class="chat-wrapper" *ngIf="chatIsActive">
      <router-outlet name="sidebar"></router-outlet>
    </div>
  </div>
</div>
