.all-users-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: space-between;

  .left {
    width: 30%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    margin-top: 15px;
    .user-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;
      position: relative;
      .img-wrapper {
        position: relative;
        width: 85px;
        height: 85px;
        border-radius: 50%;

        .img {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
          box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        }
        .eye-wrapper {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          background-color: rgba(51, 51, 51, 0.596);
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;

          .eye {
            position: absolute;
            top: 35%;
            left: 35%;
            color: white;
            font-size: 30px;
          }
        }
      }

      .nickname {
        font-size: 1em;
        width: 130px;
        height: 30px;
        margin-left: 10px;
        color: white;
        background: #424242;
        border-radius: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
        cursor: pointer;

        &:hover {
          color: rgb(53, 53, 53);
          background-color: rgb(214, 214, 214);
        }
        &.active {
          color: rgb(53, 53, 53);
          background-color: rgb(214, 214, 214);
        }
      }
    }
  }
  .right {
    width: 65%;
    margin-top: 15px;

    .title {
      font-family: "Pacifico", cursive;
      font-size: 1.7em;
      margin-top: 15px;
    }

    .chat-wrapper {
      margin-top: 10px;
      width: 100%;
      height: auto;
      min-height: 300px;
      border: 1px solid gray;
      -webkit-box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
      box-shadow: 5px 5px 17px -1px rgba(0, 0, 0, 0.74);
      border-radius: 5px;
      position: relative;
    }
  }
}
