<div
  *ngIf="dishesToShow | filter: inputValue as results"
  class="cards-container"
>
  <mat-card *ngFor="let item of results">
    <div class="header-info-wrapper">
      <div class="header-info">
        <mat-card-title
          [routerLink]="['/restaurant', item.restaurant, '/info']"
          >{{ item.title }}</mat-card-title
        >
        <mat-card-content
          class="restaurant"
          [routerLink]="['/restaurant', item.restaurant]"
          >{{ item.restaurant }}</mat-card-content
        >
      </div>
      <div class="header-rating">
        <mat-card-content>
          <ngx-stars
            [readonly]="true"
            [size]="2"
            [color]="'#FFFFFF'"
            [maxStars]="5"
            [initialStars]="item.rating"
            [wholeStars]="false"
            [animation]="false"
            [animationSpeed]="200"
          ></ngx-stars
        ></mat-card-content>
      </div>
    </div>
    <div class="img-wrapper">
      <img
        class="img"
        mat-card-image
        src="{{ item.img }}"
        (click)="onClick(item.category, item.title)"
      />
    </div>
    <div class="bottom-wrapper">
      <div class="info-wrapper">
        <mat-card-content
          ><span class="card-category-title">Ingredients:</span>
          <span class="card-category-text">{{ item.ingredients }}</span>
        </mat-card-content>
        <mat-card-content
          ><span class="card-category-title">Location:</span>
          {{ item.location }}</mat-card-content
        >
        <mat-card-content
          ><span class="card-category-title">Price: </span>{{ item.price }}
          {{ item.currency }}.</mat-card-content
        >
      </div>
      <div class="user-logo" [routerLink]="['/users', item.postedBy]">
        <img class="ava" src="{{ item.postedByImg }}" />
        <p class="nickname">{{ item.postedBy }}</p>
      </div>
    </div>
  </mat-card>
  <div *ngIf="results.length === 0 && dishes" class="noItemInfo">
    Sorry, No dishes found!
  </div>
</div>

<div
  *ngIf="page === 'home'"
  class="search-results"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
></div>
